.header{
  display: flex;
  width: 100vw;
  justify-content: space-between;
  padding: 1vw 3vw;
  position: fixed;
  z-index: 10;
  border-bottom: $border--main;
  background-color: #fff;
  align-items: center;
  @include xs-max {
    padding:10px 20px;
  }
  h1{
    font-family: 'Pirata One', cursive;
    font-size: 2.5em;
    @include xs-max {
      font-size: 1.9em;
      line-height: 1em;
    }
  }
  button{
    padding:5px 15px;
    transition: all 0.3s;
  }
}