.header{
  width: 100vw;
  padding: 1vw 3vw;
  position: fixed;
  z-index: 10;
  border-bottom: $border--main;
  background-color: #fff;
  align-items: center;
  transition: all .5s;
  height:70px;
  @include xs-max {
    padding:10px 20px;
    height: 100px;
  }
  h1{
    font-family: 'Pirata One', cursive;
    font-size: 2.5em;
    @include xs-max {
      font-size: 1.8em;
      line-height: 1em;
      margin-right: 5px;
    }
  }
  button{
    transition: all 0.3s;
    cursor: pointer;
    width:30px;
    height:30px;
    background-image: url(../img/cross.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(45deg);
    
  }
  &.header__newpost--open{
    height:80vh;
    transition: all .5s;
  }
}

.header__main{
  display: flex;
  justify-content: space-between;
  align-items: center;
}