.popup{
  position: fixed;
  border: $border--main;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:40px;
  translate: bottom 0.5s;
  @include xs-max {
    position: relative;
    padding:30px;
    width: 100%;
    margin-top: 120px;
  }
  @media (max-width:320px) {
    padding:20px 10px;
  }
  @include sm-min {
    bottom: 70px;
    translate: right 0.5s;
    right: 120px;
    &:after{
      content: "";
      width: 0; 
      height: 0; 
      position: absolute;
      bottom:-30px;
      right:10px;
      border-left: 50px solid transparent;
      border-top: 30px solid #000;
    }
  }
  .popup__content{
    @include sm-min {
      width: 400px;
    }
    .popup__headline{
      font-family: 'Pirata One', cursive;
      font-size: 3em;
      margin-bottom: 5px;
      @media (max-width:320px) {
        font-size: 2.3em;
        margin-bottom: 10px;
      }
    }
  }
  .botton--close{
    cursor: pointer;
    background-image: url(../img/cross.png);
    background-size: 50%;
    width:40px;
    height:40px;
    position: absolute;
    top: -20px;
    right: -20px;
  }

}

.login{
  h1{
    margin-top: 6px;
    @include xs-max {
      max-width: 260px;
    }
    @include sm-min {
      margin-top: 12px;
    }
  }
}

.popup--info{
  @include sm-min {
    translate: right 0.5s;
    right: 120px;
  }
}


.post--screem{
  .popup{
    background-color: #fff;
    &:after{
    }
    .popup__content{
      width: 100%;
      max-width: 700px;
      .post__content__text{
        font-size: 1.3em;
      }
    }
  }
  background-image: url(../img/pattern.png);
  background-color: lightgrey;
  min-height: 100vh;
}

.cree--post{
  .popup{
    background-color: #fff;
    width: 100%;
    max-width: 700px;
    &:after{
    }
    .popup__content{
      @include sm-min {
        width: 100%;
        max-width: 700px;
      }
      .post__content__text{
        font-size: 1.3em;
      }
    }
  }
  background-image: url(../img/pattern.png);
  background-color: lightgrey;
  min-height: 100vh;
}