.main--profil{
  border: $border--main;
  max-width: 800px;
  margin-right: 3vw;
  padding-left: 2vw;
  padding-top: 30px;
  position: relative;
  margin-top: 80px;
  padding-right: 10px;
  margin-bottom: 30px;
  @include xs-max {
    margin-top: 100px;
  }
  @include sm-min {
    margin-left:calc(2vw + 200px);
  }
  @include lg-min {
    margin-left:calc(3vw + 320px);
  }
}

.main--profil__nav{
  position: absolute;
  top: -20px;
  @include xs-max {
    top:-70px;
  }
  button{
    cursor: pointer;
    padding:5px 15px;
    transition: all 0.3s;
    margin-right: 10px;
    margin-bottom: 10px;
    &:hover{
      background-color: #000;
      color: #fff;
    }
    &.active{
      background-color: #000;
      color: #fff;
    }
  }
}